@font-face{
	font:{
		family: 'Compact Bold';
		weight: bold;
		style: normal;
	}
	src: url('../fonts/Compact-Bold.ttf');
}

@font-face{
	font:{
		family: 'Lucida Sans Typewriter Bold';
		weight: bold;
		style: normal;
	}
	src: url('../fonts/Lucida-Sans-Typewriter-Bold.ttf');
}

@font-face{
	font:{
		family: 'Opel Sans Bold';
		weight: bold;
		style: normal;
	}
	src: url('../fonts/Opel-Sans-Bold.ttf');
}

@font-face{
	font:{
		family: 'Opel Sans Regular';
		weight: normal;
		style: normal;
	}
	src: url('../fonts/Opel-Sans-Regular.ttf');
}

@font-face{
	font:{
		family: 'Vogue Bold';
		weight: bold;
		style: normal;
	}
	src: url('../fonts/Vogue-Bold.ttf');
}