@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&family=Georama:wght@200&family=Open+Sans:ital,wght@1,500&display=swap');

main{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: auto;

	table{
		width: 70%;

		caption{
			color: #201F21;
			font: {
    			family: 'Open Sans', sans-serif;
    			size: 30px;
    		}
		}

		td{
			padding: 20px;
		}
	}

	table.main__table__black-white{

		thead{
			td{
				text-transform: capitalize;
				height: 40px;
				background: white;
				font: {
					family: 'Georama', sans-serif;
					size: 17px;
				};
			}
		}
		tbody{
			td{
				height: 70px;
				background: gray;
				color: white;
				font: {
					family: 'Georama', sans-serif;
					size: 17px;
				};
			}
		}
	}

	table.main__table__colored{

		thead{
			td{
				text-align: center;
				text-transform: capitalize;
				height: 40px;
				background: green;
				font: {
					family: 'Georama', sans-serif;
					size: 17px;
				};
			}
		}
		tbody{
			td{
				height: 35px;
				background: yellow;
				font: {
					family: 'Georama', sans-serif;
					size: 17px;
				};
			}
		}
	}

	.main__cards{
		display: flex;
		flex-direction: row;
		width: 100%;
		min-height: 250px;
		max-height: 400px;
		justify-content: space-evenly;

		.main__cards__card{


			h2{
				text-transform: uppercase;
				color: #201F21;
				font: {
					family: 'Catamaran', sans-serif;
					size: 22px;
				};
			}
		}
	}
}