@import './fonts.scss';

#footer__wrap{
    background: #C4C5D0;
    border-radius: 5px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4{
        font: {
            family: 'Compact Bold';
            size: 25px;
        }
    }

    h5{
        font: {
            family: 'Accuratist';
            size: 20px;
        }
    }
}
