@import './fonts.scss';

#header__wrap{
    align-items: center;
    background: #c1c2ca;
    border-radius: 5px;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
    width: 100%;

    #header__h1{
        color: black;
        text-align: center;
        font: {
            family: 'Noto Sans Display Condensed Extrabold Italic';
            style: italic;
            size: 50px;
        }
    }
}
