@import '../fonts/fonts.scss';

header{
    height: 200px;
    background: yellow;
    border-radius: 5px;
    border: solid 1px black;
    font: {
		family: 'Roboto Regular';
        style: italic;
	};
}
