@import '@Styles/fonts.scss';

#searchbar__input__wrap{
    background: silver;
    border-radius: 3px;
    border: black 1px solid;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 300px;

    input{
        width: 150px;
        height: 30px;
        font: {
            family: 'Roboto Regular';
            size: 18px;
        }
    }
}
