#searchbar__input__wrap{
    background: silver;
    border-radius: 3px;
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    width: 100%;

    #searchbar__heading{
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h2{
            color: black;
            font: {
                family: 'Noto Sans Display Condensed Extrabold Italic';
                size: 42px;
            }
        }

        #searchbar__heading__img{
            width: 50px;
            height: 50px;
            background: url(../img/glass.png);
            margin: 0;
            padding: 0;
        }
    }

    input{
        width: 90%;
        height: 70px;
        font: {
            family: 'Roboto Regular';
            size: 42px;
            style: italic;
        }
    }
}
