#todo-list-item{
    background: skyblue;
    font: {
        family: 'Roboto Regular';
        style: italic;
    }
    height: auto;
    width: 100%;
    text-align: center;
    margin: 25px;

    .todo-list-item__task{
        color: black;
        font: {
            family: 'Roboto Bold';
            size: 22px;
        }
    }
}
